P5/practica5-1/src/main/app/practica2.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <http:listener-config name="practica2-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="practica2-config" raml="practica2.raml" consoleEnabled="false" doc:name="Router"/>
    <http:request-config name="HTTP_Request_Configuration3" host="localhost" port="3000" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="practica2.raml"/>
    </http:request-config>
    <flow name="practica2-main">
        <http:listener config-ref="httpListenerConfig" path="/flujo2/*" doc:name="HTTP"/>
        <apikit:router config-ref="practica2-config" doc:name="APIkit Router"/>
        <exception-strategy ref="practica2-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="practica2-console">
        <http:listener config-ref="practica2-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="practica2-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/consultaCodigoPostal/{cp}:practica2-config">
        <http:request config-ref="HTTP_Request_Configuration3" path="/consultaCodigoPostal/{cp}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="cp" value="#[message.inboundProperties.'http.uri.params'.cp]"/>
                <http:header headerName="RestKey" value="#[message.inboundProperties.RestKey]"/>
            </http:request-builder>
        </http:request>

    </flow>
    <flow name="get:/validarIBAN/{iban}:practica2-config">
        <http:request config-ref="HTTP_Request_Configuration3" path="/validarIBAN/{iban}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="iban" value="#[message.inboundProperties.'http.uri.params'.iban]"/>
                <http:header headerName="RestKey" value="#[message.inboundProperties.RestKey]"/>
            </http:request-builder>
        </http:request>

    </flow>
    <flow name="get:/validarNIF/{nif}:practica2-config">
        <http:request config-ref="HTTP_Request_Configuration3" path="/validarNIF/{nif}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="nif" value="#[message.inboundProperties.'http.uri.params'.nif]"/>
                <http:header headerName="RestKey" value="#[message.inboundProperties.RestKey]"/>
            </http:request-builder>
        </http:request>

    </flow>
    <flow name="post:/generarPresupuesto:practica2-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="{&#xA;  &quot;correcto&quot; : true,&#xA;  &quot;status&quot; : 201,&#xA;  &quot;message&quot; : &quot;Correcto&quot;,&#xA;  &quot;Presupuesto&quot; : &#xA;    {&#xA;      &quot;idPresupuesto&quot;: 1,&#xA;      &quot;presupuestoGeneradoCorrectamente&quot; : true&#xA;    }&#xA;}" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="practica2-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
