P5/practica5-1/src/main/app/primero.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="primero-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="primero-config" raml="primero.raml" consoleEnabled="false" doc:name="Router" keepRamlBaseUri="false">
        <apikit:flow-mapping resource="/flujo2/validarNIF/{nif}" action="get" flow-ref="get:/validarNIF/{nif}:primero-config"/>
        <apikit:flow-mapping resource="/flujo2/validarIBAN/{iban}" action="get" flow-ref="get:/validarIBAN/{iban}:primero-config"/>
    </apikit:config>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="3000" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="primero.raml"/>
    </http:request-config>
    <flow name="primero-main">
        <http:listener config-ref="httpListenerConfig" path="/flujo2/*" doc:name="HTTP"/>

        <apikit:router config-ref="primero-config" doc:name="APIkit Router"/>
        <exception-strategy ref="primero-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="primero-console">
        <http:listener config-ref="primero-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="primero-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/validarIBAN/{iban}:primero-config">
        <http:request config-ref="HTTP_Request_Configuration" path="/validarIBAN/{iban}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="iban" value="#[message.inboundProperties.'http.uri.params'.iban]"/>
                <http:header headerName="RestKey" value="#[message.inboundProperties.RestKey]"/>
            </http:request-builder>
        </http:request>

    </flow>
    <flow name="get:/validarNIF/{nif}:primero-config">
        <echo-component doc:name="Echo"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/validarNIF/{nif}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="nif" value="#[message.inboundProperties.'http.uri.params'.nif]"/>
                <http:header headerName="RestKey" value="#[message.inboundProperties.RestKey]"/>
            </http:request-builder>
        </http:request>

    </flow>
    <apikit:mapping-exception-strategy name="primero-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
